.clipboard-container {
	display: flex;
	margin: 10px 20px;
	gap: 20px;
	align-items: center;
}

.clipboard-icon {
	border-radius: 8px;
	border: solid 1.5px lightgray;
	padding: 10px;
	color: black;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
